html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

#activepage {
    padding: 5px 20px;
    background-color: #ffd47f;
    border-radius: 20px;
}

#activepage:hover {
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 70px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.2rem;
    color: #333;
}

.logo img {
    margin-right: 5px;

}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    margin: 0 20px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1rem;
    transition: all ease 0.3s;
}

.menu a:hover {
    color: #fac24e;
}

.user {
    display: flex;
    align-items: center;
}

.user a {
    text-decoration: none;
    color: #333;
    margin-right: 7px;
    font-weight: 500;
    font-size: 1rem;
}

.user a:hover {
    color: black;
    transition: all ease 0.3s;
}

.user-profile {
    display: flex;
    align-items: center;
    width: 150px;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
}
.dropdown{
    position: absolute;
    top: 47px;
    right: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px 20px;
    display: none;
}

.dropdown a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1rem;
    display: block;
    margin: 10px 0;
}

.dropdown a:hover{
    color: #fac24e;
}

.user:hover .dropdown{
    display: block;
}

.explore {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 70px;
width: 100%;
height: 40vh;
/* apply gradient from top to down with fade */
background: linear-gradient(to bottom, #ffcd69, white);

}
.explore .heading h1 {
margin-top: 0px;
font-size: 50px;
}
.explore .search-box {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 30px;
width: 850px;
/* height: 50px; */
background-color: white;
border: 2px solid white;
border-radius: 50px;
}
.explore .search-box:focus-within {
border: 2px solid #fac24e;
}
.explore .search-box input {
font-size: 1rem;
margin-left: 10px;
width: 800px;
padding: 10px;
height: 50px;
border: 0px;
background-color: transparent;
outline: none;
}
.explore .search-box input:focus {
outline: none;
}
.box {
display: flex;
align-items: center;
}
.explore .search-box button {
background-color: transparent;
border: none;
cursor: pointer;
}
.explore .search-box button:hover {
color: #fac24e;
}
.posts {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
width: 100%;
background-color: white;
min-height: 40vh;
}

.post-link{
text-decoration: none;
color: #333;
}
.post{
    background-color: #fff;
    width: 300px;
    height: 410px;
    margin: 20px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* padding: 10px 20px; */
    border-radius: 20px;
    cursor: pointer;
    transition: all ease 0.3s;
}
.post:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.post .recipe-image{
    width: 300px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.post .post-info{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0 20px;
    /* margin-bottom: 10px; */
}
.post-info h3{
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 2px;
    color: #333;
    margin-bottom: 10px;
}
.post-info .author-details{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    margin-bottom: 10px;
}
.post-info .author-details img{
    margin-left: -4px;
}
.post-info .time{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    margin-bottom: 10px;
}
.heading1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
footer{
    width: 100%;
    height: 100px;
    background-color: rgb(235, 235, 235);
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}